.kranky-regular {
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;
  }

.assistant-regular {
    font-family: "Assistant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
body {
    background-color:rgb(169, 217, 203);
}
#nav-bar {
    width:100%;
    display: flex;
    flex-direction: row
}
.nav-item {
    margin: auto;
    padding: 10px;
    font-family:'Courier New', Courier, monospace
}
.nav-item a {
    color:gray;
    text-decoration: none
}
#content {
    color: #48494b;
    font-family:'Assistant'
}
#links a {
    color: #004170;
}
h1 {
    font-family:'Kranky','Assistant';
    text-align: center;
    padding-top: 40px;
    font-size:4em;
}

.img-container {
    width: 100%;
  }
  
  img {
    margin: auto;
    display: block;
  }
  #content {
    width: 65%;
    margin: auto;
  }
  
  @media (orientation: portrait) {
    #content {
      width: 90%;
    }
  }