body {
    background-color:rgb(169, 217, 203);
}
#nav-bar {
    width:100%;
    display: flex;
    flex-direction: row
}
.nav-item {
    margin: auto;
    padding: 10px;
    font-family:'Courier New', Courier, monospace
}
.nav-item a {
    color:gray;
    text-decoration: none
}
#content {
    color: #48494b;
    font-family:'Courier New', Courier, monospace
}
#links a {
    color: #004170;
}
h1 {
    text-align: center;
}
